.footer {
  margin-top: 94px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  display: flex;
  margin-top: 114px;
  background-color: #2F303A;
  height: 261px;
  justify-content: space-around;
  padding: 0 30px;
  padding-top: 60px;
}
.footer__logo {
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
}
.footer__list-people {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.footer__logo {
  margin-top: 154px;
  margin-bottom: 20px;
}
.footer__h3 {
  margin-bottom: 9px;
}
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__h4 {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer__h3 {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__div {
  background-color: #2F303A;
  margin-top: 1.2%;
}
.footer__article {
  display: flex;
  flex-direction: column;
}
.footer__input {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  padding-left: 16px;
  padding-right: 16px;
}
.footer__h6 {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__button {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-left: 12px;
}
.footer__button-img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 10px;
  margin-top: 3px;
}
.footer__div {
  margin-left: 70px;
}

.black {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 479px) {
  .footer {
    display: block;
  }
  .footer__div {
    margin-top: 60px;
    margin-left: 25%;
    margin-top: -40px;
    position: absolute;
    right: 89px;
  }
  .footer__list-people {
    gap: 10px;
  }
  .footer__h4 {
    margin-left: 30px;
  }
  .footer__h6 {
    margin-top: 100px;
    margin-left: 22%;
  }
  .footer {
    height: 620px;
  }
  .footer__article {
    padding-bottom: 100px;
  }
  .footer__logo {
    margin-left: 115px;
  }
  .footer__h3 {
    margin-left: 76px;
  }
  .footer__link {
    margin-left: 46px;
  }
  .footer__button {
    margin-top: 20px;
    margin-left: 22%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer {
    display: block;
  }
  .footer__div {
    margin-top: 60px;
    margin-left: 25%;
    margin-top: -230px;
    width: 10;
    position: absolute;
    left: 0px;
  }
  .footer__list-people {
    gap: 10px;
  }
  .footer__h4 {
    margin-left: 20%;
  }
  .footer__h6 {
    margin-top: 100px;
    margin-left: 22%;
  }
  .footer {
    height: 620px;
  }
  .footer__article {
    padding-bottom: 100px;
  }
  .footer__logo {
    margin-left: 18%;
  }
  .footer__h3 {
    margin-left: 20%;
  }
  .footer__link {
    margin-left: 30%;
  }
  .footer__button {
    margin-top: 20px;
    margin-left: 22%;
  }
}