.astronaut::before, .diagrama::before, .clock::before, .antenna::before {
  background-repeat: no-repeat;
  padding-left: 100px;
  border-radius: 4px;
  background: #F5F4FA;
  padding-right: 100px;
  padding-top: 75px;
  padding-bottom: 25px;
}

.galery__img-e-mail {
  margin-top: 4px;
}
.galery__img-number {
  margin-top: 2px;
}
.galery__item-number .info-number-title {
  color: #188CE8;
}
.galery__item-number .galery__img-number {
  content: ".../img/email-blue.svg";
}
.galery__h3:nth-of-type(1) {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.galery__link:nth-of-type(3n) {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.galery__h3:nth-of-type(2n) {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.galery__paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  color: #000000;
}
.galery__h4 {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.galery__h2-people {
  margin-bottom: 50px;
  margin-top: 188px;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  display: flex;
  justify-content: center;
}
.galery__h2-app {
  margin-bottom: 50px;
  margin-top: 94px;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  letter-spacing: 0.42px;
}
.galery__button {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
}
.galery__h1 {
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.galery__h1 {
  padding-top: 200px;
  margin-bottom: 30px;
}
.galery__button {
  margin-bottom: 294px;
  background-color: #2196F3;
  color: #212121;
}
.galery__section {
  margin-bottom: 188px;
}
.galery__section-description {
  margin-top: 100px;
  margin-bottom: 118px;
}
.galery__h2 {
  margin-bottom: 50px;
}
.galery__button {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-bottom: 292px;
}
.galery__h1 {
  display: flex;
  justify-content: center;
}
.galery__section-description {
  display: flex;
  justify-content: center;
}
.galery__list {
  margin-top: 100px;
  margin-left: 30px;
}
.galery__h2 {
  display: flex;
  justify-content: center;
}
.galery__list {
  display: flex;
  justify-content: center;
}
.galery__h3 {
  display: flex;
  justify-content: center;
}
.galery__head {
  display: grid;
  grid-template-columns: auto;
  background-image: url("../img/team-people.jpg");
  background-size: 100% 115%;
  background-repeat: no-repeat;
  margin-bottom: 94px;
}
.galery__h1 {
  color: #FFFFFF;
}
.galery__div {
  background-color: #F5F4FA;
}
.galery__h4 {
  margin-top: 30px;
}
.galery__item-people {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
}
.galery__item {
  margin-left: 30px;
}
.galery__h3:nth-child(3n) {
  margin-top: 30px;
}
.galery__list-people {
  display: flex;
}
.galery__a-people {
  padding: 12px;
  border-radius: 100px;
  transition: all 0.3s;
}
.galery__image-people {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: black;
}
.galery__list-people {
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 30px;
  margin-left: 32px;
}
.galery__a-people:hover {
  background-color: #2196F3;
}
.galery__a-people {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
}
.galery__button {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.galery__clients-h5 {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 188px;
  display: flex;
  justify-content: center;
}
.galery__paragraph {
  width: 270px;
}
.galery__img-clients {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  outline: 1px solid #AFB1B8;
}
.galery__list-clients {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.galery-item-people-img {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
.galery__h6 {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  flex-shrink: 0;
  padding: 27px;
  position: absolute;
  top: 1505px;
}

.antenna::before {
  content: url("../img/antenna.svg");
}

.clock::before {
  content: url("../img/clock.svg");
}

.diagrama::before {
  content: url("../img/diagrama.svg");
}

.astronaut::before {
  content: url("../img/astronaut.svg");
}

.astronaut {
  gap: 4px;
  height: 248px;
}

.instagram__item:hover .instagram {
  content: url("../img/instagramh.svg");
}

.linkedin__item:hover .linkedin {
  content: url("../img/linkedinh.svg");
}

.twitter__item:hover .twitter {
  content: url("../img/twitterh.svg");
}

.facebook__item:hover .facebook {
  content: url("../img/facebookh.svg");
}

.Client1:hover {
  content: url("../img/Client1h.svg");
  outline: 1px solid #2196F3;
}

.Client2:hover {
  content: url("../img/Client2h.svg");
  outline: 1px solid #2196F3;
}

.Client3:hover {
  content: url("../img/Client3h.svg");
  outline: 1px solid #2196F3;
}

.Client4:hover {
  content: url("../img/Client4h.svg");
  outline: 1px solid #2196F3;
}

.Client5:hover {
  content: url("../img/Client5h.svg");
  outline: 1px solid #2196F3;
}

.Client6:hover {
  content: url("../img/Client6h.svg");
  outline: 1px solid #2196F3;
}

.e-mail {
  width: 16px;
  height: 12px;
  flex-shrink: 0;
  display: flex;
  margin-top: 4px;
  margin-right: 10px;
}

.number {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 10px;
  content: url("/img/smartphone.svg");
}

.name {
  background: url("../img/person-black.svg") no-repeat;
  background-size: 18px 18px;
  background-position: 12px 11px;
  padding-left: 42px;
}

.poshta {
  background: url("../img/email-black.svg") no-repeat;
  background-size: 18px 18px;
  background-position: 12px 11px;
  padding-left: 42px;
}

.nomer {
  background: url("../img/phone-black.svg") no-repeat;
  background-size: 18px 18px;
  background-position: 12px 11px;
  padding-left: 42px;
}

.com__item,
.poshta__item,
.nomer__item {
  margin-top: 10px;
}

.modal-home-backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.modal-home-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal .no-scroll {
  overflow: hidden;
}
.modal__home-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-top: 8px;
  padding-left: 40px;
}
.modal-home-button-close {
  margin-left: 450px;
}
.modal__home-h2 {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal .content {
  margin-right: 40px;
}
.modal__home-h6 {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal__home-input-data {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  margin-top: 4px;
  padding-right: 16px;
}
.modal__home-input-com {
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  padding-top: 12px;
  padding-bottom: 93px;
  padding-left: 16px;
  padding-right: 16px;
}
.modal__home-input-com::-moz-placeholder {
  width: 416px;
  height: 96px;
}
.modal__home-input-com::placeholder {
  width: 416px;
  height: 96px;
}
.modal__home-a {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  border-bottom: 0.5px solid #2196F3;
}
.modal__home-h3 {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.modal__home-check {
  width: 16px;
  height: 15px;
  flex-shrink: 0;
  margin-top: 4px;
  margin-right: 7px;
}
.modal__home-div-doc {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 423px;
}
.modal__home-button {
  border-radius: 4px;
  background: #188CE8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-top: 30px;
}
.modal__home-input-data:focus {
  border-radius: 4px;
  border: 1px solid #2196F3;
}
.modal__home-input-com:focus {
  border-radius: 4px;
  border: 1px solid #2196F3;
}

.name:focus {
  background: url("../img/person-blue.svg") no-repeat;
  background-size: 18px 18px;
  background-position: 12px 11px;
  padding-left: 42px;
}

.nomer:focus {
  background: url("../img/phone-blue.svg") no-repeat;
  background-size: 18px 18px;
  background-position: 12px 11px;
  padding-left: 42px;
}

.poshta:focus {
  background: url("../img/email-blue.svg") no-repeat;
  background-size: 18px 18px;
  background-position: 12px 11px;
  padding-left: 42px;
}

.studio-studio {
  color: black;
  display: flex;
}

.studio-studio::after {
  position: absolute;
  content: "";
  background-color: #188CE8;
  width: 51px;
  height: 4px;
  margin-top: 22px;
  border-radius: 9px;
}

@media screen and (max-width: 480px) {
  .galery__section-description {
    display: block;
  }
  .astronaut::before, .diagrama::before, .clock::before, .antenna::before {
    padding-left: 41%;
    padding-right: 41%;
  }
  .galery__head {
    background-position: -130px -10px;
    background-size: 1000px 400px;
    margin-left: 0px;
  }
  .galery__button {
    margin-bottom: 0px;
    margin-bottom: 118px;
  }
  .galery__h1 {
    font-weight: 900;
    font-size: 26px;
    line-height: 162%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 118px;
    padding: 0px;
  }
  .galery__list {
    display: block;
    margin-left: 0px;
  }
  .galery__h4 {
    display: flex;
    justify-content: center;
  }
  .galery__paragraph {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    width: 360px;
    color: #757575;
  }
  .galery__item {
    margin-left: 15px;
    margin-right: 15px;
  }
  .galery__section {
    left: -10000000px;
    position: absolute;
  }
  .galery__h2-people {
    margin-top: 60px;
  }
  .galery__item-people {
    width: 90%;
    margin-left: 15px;
    padding-bottom: 24px;
    margin-bottom: 30px;
  }
  .galery__item-people {
    width: 93%;
  }
  .galery__image {
    width: 100%;
  }
  .galery__list-people {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
  .galery__img-clients {
    width: 44px;
    height: 49px;
    padding-left: 83px;
    padding-right: 83px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .galery__list-clients {
    display: grid;
    grid-template-columns: auto auto;
  }
  .galery__clients-h5 {
    margin-top: 90px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .galery__section-description {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: auto auto;
  }
  .astronaut::before, .diagrama::before, .clock::before, .antenna::before {
    padding-left: 142px;
    padding-right: 142px;
  }
  .galery__head {
    background-position: -130px -10px;
    background-size: 1000px 400px;
    margin-left: 0px;
    margin-bottom: 60px;
  }
  .galery__button {
    margin-bottom: 0px;
    margin-bottom: 118px;
  }
  .galery__h1 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 26px;
    line-height: 162%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 118px;
    padding: 0px;
  }
  .galery__list {
    display: block;
    margin-left: 0px;
  }
  .galery__h4 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .galery__paragraph {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    width: 360px;
    color: #757575;
  }
  .galery__list {
    gap: 30px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: auto auto;
  }
  .galery__section {
    left: -10000000px;
    position: absolute;
  }
  .galery__h2-people {
    margin-top: 0px;
  }
  .galery__item-people {
    margin-bottom: 30px;
    width: 354px;
    margin-left: 15px;
    padding-bottom: 24px;
  }
  .galery__image {
    width: 354px;
    height: 374px;
  }
  .galery__list-people {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  .galery__img-clients {
    width: 44px;
    height: 49px;
    padding-left: 83px;
    padding-right: 83px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .galery__list-clients {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .galery__head {
    background-size: 100%;
  }
}