


@import "../base/variables.scss";

.header{
    font-family: 'Roboto', sans-serif;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 100px;


&__logo{
   font-family: Roboto;
   font-size: 44px;
   font-style: normal;
   font-weight: 900;
   line-height: 60px; /* 136.364% */
   letter-spacing: 2.64px;
}

&__link{
    color:$colorblack
}

&__info{
    color:$colorveryblack
}
&__link:hover{
    color:$colorblue
}
&__info:hover{
    color:$colorblue
}

&__list{
    list-style-type:none
}
&__div{
    display: flex;
}
 &__list-info,
&__list{
    display: flex;
    margin-top: 32px;
}
&__item{
    margin-left: 50px;
}

&__logo{
    margin-top: 24px;
}

&__list-info{
    margin-left:344px;
}
&__list{
    margin-left:93px;
}
&__link{
    margin-bottom:9px;
}

 &-logo{
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;

 }
&__info-a{
    display: flex;
}

&__list-info{
    gap:30px;
}

&-button-img-close{
    width: 30px;
    height: 30px;
    padding: 6px;
    border: 1px solid #E6E6E6;
    border-radius:100px;
    margin-left: 475px;
}




}


.studio-portfolio{
    color: black;
}

.studio-portfolio:hover{
    color: #188CE8;
}










