
    $colorblue:#2196F3;
    $colorwhite:#F5F4FA;
    $colorwhite2:#ECECEC;
    $colorverywhite1:#FFFFFF;
    $colorblack:#2F303A;
    $colorveryblack:#000000;
    $colorgrey:#757575;
    $colorblack1:#212121;
    $colorverywhite:#EEEEEE;
