.portfolio-portfolio{
    display: flex;
}

.portfolio-portfolio::after{
    position: absolute;
    content: '';
    background-color: #188CE8;
    width: 83px;
    height: 4px;
    margin-top:22px;
    border-radius: 9px;
}
.portfolio-galery-link-h2{
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
    width: 322px;
}

.portfolio-galery-link-h3{
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
    width: 322px;
}
.title-portfolio-galery-item{
    padding-top:20px;
    margin-bottom:200px;
}
.portfolio-galery-item:hover .overlay-home-overlay{

    transform: translateY(0);
} 
.portfolio-galery-item{

    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    background: rgb(255, 255, 255);
}
.portfolio-galery-list-buttons{
    gap:8px;
}

.portfolio-galery-list-buttons{
    margin-top: 94px;
    margin-bottom:50px;
}

.portfolio-galery-section{
    display: flex;
    justify-content: center;
}
.portfolio-galery-link-h2,
.portfolio-galery-link-h3{
    margin-left: 24px;
}
.portfolio-galery-button{
    width: 125px;
height: 38px;
flex-shrink: 0;
border-radius: 4px;
background: #F5F4FA;
text-align: center;
}
.portfolio-galery-item{
    margin-left:30px; 
    margin-bottom:30px; 
}


.portfolio-galery-list{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1140px;
    
}

.portfolio-galery-item{
    border: 1px solid #EEE;
background: #FFF;
width: 370px;
height: 404px;
}

.portfolio-galery-item:hover{
    border: 1px solid #EEE;
background: #FFF;
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
width: 370px;
height: 404px;
}
.portfolio-container{
    width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
    }


   
    


   .portfolio-galery-list-buttons{
    display: flex;
    justify-content: center;
   }



.portfolio-galery-item{
    margin-left:30px; 
    margin-bottom:30px; 
}


.portfolio-galery-list{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1140px;
    
}

.portfolio-galery-item{
    border: 1px solid #EEE;
background: #FFF;
width: 370px;
height: 404px;
}

.portfolio-galery-button{
    background-color:var(--color2);
    border:var(--color9);
    color: #000000;
}

.portfolio-galery-button:hover{
    background-color:var(--color1);
    border:var(--color1);
    color: #ffffff;
}



.portfolio-galery-navigation{
    margin-bottom: 56px;
}




.portfolio-galery-link-h2{
    margin-bottom:4px;
}

        .portfolio-galery-title-h3:nth-of-type(1){
            font-family: 'Roboto', sans-serif;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.48px;
        }
    
 
    
        .portfolio-galery-link:nth-of-type(3n){
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.42px;
        }
    
        .portfolio-galery-title-h3:nth-of-type(2n){
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.42px;
        }
    
        .portfolio-galery-paragraph{
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.42px;
            color: var(--color7);
        }
    
      .portfolio-galery-title-h4{
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
      }
      .portfolio-galery-title-h2{
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
      }
    
      .portfolio-galery-button{
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
      }

    
     .portfolio-galery-title-h1{
        font-family: Raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
     }
    